<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <title>
            Help
        </title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        {{!-- <h1> Help Page </h1> --}}
        <h3> {{message}}</h3>
        </div>
        
         {{>footer}}
    </body>
</html>